


<div class="relative">
  <div class="absolute">
    <%= image_tag "wesley-tingey-dKCKiC0BQtU-unsplash.jpg", class: "h-screen w-screen object-cover" %>
  </div>
  <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
    <h1 class="text-center text-4xl font-bold tracking-tight sm:text-5xl lg:text-6xl">
      <span class="block text-white">My Predictor</span>
    </h1>
    <p class="mx-auto mt-6 max-w-lg text-center font-bold text-xl text-white sm:max-w-3xl">Think you know more than the pundits? Want to get one over friends and family? Play my predictor now! </p>
    <div class="mx-auto mt-10 max-w-sm sm:flex sm:max-w-none sm:justify-center">
      <div class="space-y-4 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5 sm:space-y-0">
        <%= render(PrimaryLinkButtonComponent.new(title: "Log In", path: new_user_session_path )) %>
        <%= render(SecondaryLinkButtonComponent.new(title: "Sign Up", path: new_user_registration_path )) %>        
      </div>
    </div>
  </div>
</div>
