<div class="bg-white">
  <div class="mx-auto max-w-7xl py-8 px-4 sm:px-6 lg:py-10 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">My Predictor</h2>
        <p class="mt-4 text-lg text-gray-500">Can’t find the answer you’re looking for? Reach out to <a href="mailto:info@hanmnavoepartners.com" class="font-medium text-indigo-600 hover:text-indigo-500">hamnavoe partners</a>.</p>
      </div>
      <div class="mt-12 lg:col-span-2 lg:mt-0">
        <dl class="space-y-6">
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">How to play the game?</dt>
            <dd class="mt-2 text-base text-gray-500">First go to the home page and use the Join Competition button to join competition you want to play. Then you can start predicting the results of the matches. Enter score predictions for each match. Home team is defined as the first team, away team is defined as the second team. </dd>
          </div>
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">Can I change my predictions?</dt>
            <dd class="mt-2 text-base text-gray-500">You can change your predictions until the match starts. Go to your home page and use the Update Predictions button on the competition you want to change predictions for.</dd>
          </div>
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">How are points awarded?</dt>
            <dd class="mt-2 text-base text-gray-500">Correct Home Team Goals = 1 point; Correct Away Team Goals = 1 point; Correct Result = 1 point; All three correct = 1 bonus point. Therefore you can get 0, 1, 2, or 4 points per match depending on your success at prediting results.</dd>
          </div>
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">How is the overall winner decided?</dt>
            <dd class="mt-2 text-base text-gray-500">The winner is the player with the most points. If two or more players have same points then winner will be the player with the most Correct Scores i.e. the number of 4 pointers they have achieved (the CS column on the league table).
                                                       If two or more players have equal points and correct scores then goals difference is checked. Goals difference is the cumulative difference between number of goals you predictied per match and the actual goals per match.
                                                       Finally when join a competition you will be asked to predict the winner and runner up this will be used to tie-break the winner if all other scores are equal.</dd>
          </div>     
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">How does goals difference work?</dt>
            <dd class="mt-2 text-base text-gray-500">For each match you predict once the result is know the goals difference is calculated. This is the <span class="italic">absolute</span> difference in number of goals between your prediction and the actual result. For example if you predict 2-1 and the actual result is 3-1 then your goals difference is 1. If you predict 2-1 and the actual result is 1-2 then your goals difference is 0. If you predict 2-1 and the actual result is 1-1 then your goals difference is 1.</dd>
          </div>    
          <div>
            <dt class="text-lg font-medium leading-6 text-gray-900">When can I change my predicted winner and runner up?</dt>
            <dd class="mt-2 text-base text-gray-500">You can change the predicted winner and runner up right up until the first game starts, after this it will be locked.</dd>
          </div>                               
          <!-- More questions... -->
        </dl>
      </div>
    </div>
  </div>
</div>
