<div class="flex items-start">
  <%= form.check_box field, class: "h-4 w-4 rounded text-indigo-600 focus:ring-indigo-500 #{classes}", oninput: oninput %>
  <%= form.label label || field, class: "-mt-0.5 ml-3 text-sm font-medium text-gray-700 #{classes}" %>
</div>