<!DOCTYPE html>
<html>
  <%= render "shared/head" %>

  <body class="h-full">
  <div data-controller="slideover" data-slideover-open-value="false" 
      data-slideover-invisible-class="-translate-x-full,opacity-0" 
      data-slideover-visible-class="translate-x-0,opacity-100" 
      data-slideover-entering-class="" data-slideover-enter-timeout="300,300" 
      data-slideover-leaving-class="" data-slideover-leave-timeout="300,0" 
      data-slideover-active-target="#slideover-target" aria-haspopup="true" aria-expanded="false">
      <% if user_signed_in? %>
        <%= render "shared/header" %>
      <% end %>
    
      <div class="flex flex-1 flex-col md:pl-32 md:pr-32">  
        <main>
          <div class="mx-auto max-w-full px-4 sm:px-6 md:px-8">         
            <div class="py-4">
              <%= yield %>
            </div>
          </div>      
        </main>        
      </div> 
    </div> <!-- end of slidover -->
  </body>
</html>
